.loading__main {
    @include abs();
    @include flex("column", "center", "center");
    background-image:linear-gradient(165deg, #695da7, #5964a4);
    display:none;
    z-index:200;
}
.loading__main--active {
    display:flex;
}
.loading__main:before {
    content:"";
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    width:202px;
    height:202px;
    margin:-101px 0 0 -101px;
    background:url(/public/images/logo.png) no-repeat center top / cover;
}
.loading__main:after {
    content:"";
    display:block;
    width:128px;
    height:128px;
    background:url(/public/images/logo.svg) no-repeat 0 0 / cover;
    transform:rotate(-90deg);
    animation:logo__rotate 1.5s $cubic57 infinite;
}
@keyframes logo__rotate {
    0%   {transform:rotate(-90deg);}
    100% {transform:rotate(270deg);}
}
