.section__wrapper__metrika {
    color:#fff;
    font-family:$roboto;
    background:$black_light;
}
.chat__metrika__header {
    height:228px;
    border-bottom:1px solid rgba(255,255,255,.15);
    text-align:center;
}
.chat__metrika__time {
    display:inline-block;
    position:absolute;
    top:18px;
    left:20px;
    font-family:$arial;
    font-size:15px;
    line-height:22px;
    vertical-align:bottom;
}
.chat__metrika__time:before {
    content:"";
    display:inline-block;
    width:22px;
    height:22px;
    margin-right:8px;
    background:url(/public/images/time.svg) no-repeat 0 0 / cover;
    vertical-align:bottom;
    opacity:0.75;
}
.chat__metrika__photo {
    position:relative;
    display:inline-block;
    width:102px;
    height:102px;
    margin:48px 0 26px;
    border-radius:50%;
    background:rgba(255,255,255,.25);
}
.chat__metrika__photo:before {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:74px;
    height:74px;
    margin:-37px 0 0 -37px;
    background:url(/public/images/user_white.svg) no-repeat 0 0 / cover;
}
.chat__metrika__photo:after {
    content:"";
    position:absolute;
    top:-5%;
    left:-5%;
    width:110%;
    height:110%;
    border:3px solid transparent;
    border-radius:50%;
}
.chat__metrika__photo--online:after {
    border-color:#00d8aa;
}
.chat__metrika__photo--offline:after {
    border-color:#ff665a;
}
.chat__metrika__avatar {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    background-position:center top;
    background-size:cover;
    overflow:hidden;
}
.chat__metrika__title {
    font-size:22px;
    font-weight:400;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width:90%;
    margin:0 auto;
}
.chat__metrika__bdate {
    position:absolute;
    top:138px;
    left:50%;
    margin-left:50px;
    font-weight:300;
    color:rgba(255,255,255,.85);
}
.chat__metrika__content {
    padding:24px 15px 30px 30px;
    text-align:center;
}
.chat__metrika__tile {
    margin-bottom:18px;
    font-size:18px;
    text-align:left;
}
.chat__metrika__tile__text {
    display:inline-block;
    vertical-align:top;
}
.chat__metrika__link {
    display:inline-block;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    max-width:100%;
    vertical-align:top;
    text-decoration:none;
    line-height:22px;
    height:22px;
    border-bottom:1px solid rgba($azure_light,.3);
}
.chat__metrika__link,
.chat__metrika__text__blue {
    color:$azure_light;
}
.chat__metrika__link:hover {
    color:#fff558;
}
.chat__metrika__tile__subtitle {
    font-size:15px;
    font-weight:300;
    text-transform:uppercase;
    margin-bottom:2px;
}
.chat__metrika__tile__title {
    font-size:18px;
    font-weight:400;
}
.chat__metrika__pages__container {
    margin-top:13px;
}

.chat__metrika__close {
    position:absolute;
    top:15px;
    right:15px;
    width:28px;
    height:28px;
    cursor:pointer;
    transition:opacity 0.15s $cubic215, transform 0.2s $cubic215;
    transform:translate3d(200%, 0, 0);
    opacity:0.75;
    z-index:2;
}
.chat__metrika__close:hover {
    opacity:1;
}
.chat__metrika__close:before,
.chat__metrika__close:after {
    content:"";
    position:absolute;
    background:#fff;
    border-radius:10px;
    opacity:0;
    transition:transform 0.3s $cubic215 0.2s, opacity 0.3s $cubic215 0.2s;
}
.chat__metrika__close:before {
    width:2px;
    height:100%;
    top:0;
    left:50%;
    margin-left:-1px;
    transform:rotate(90deg);
}
.chat__metrika__close:after {
    width:100%;
    height:2px;
    top:50%;
    left:0;
    margin-top:-1px;
    transform:rotate(-90deg);
}

.section--show {
    .chat__metrika__close {
        transform:translate3d(0, 0, 0);
    }
    .chat__metrika__close:before,
    .chat__metrika__close:after {
        opacity:1;
        transform:rotate(45deg);
    }
}

@media screen and (max-width:320px){
    .chat__metrika {
        .section__right__wrapper {
            left:0;
        }
        .section__right__container {
            width:100%;
        }
    }
}
